:root{
    --width:300px;
    --padding:10px;
    --bgcolor: rgb(52,52,52);
    --hovercolor:rgb(23,23,23);
    --width-collapsed:50px;
}

body{
    background-color: #032c55;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
}

.bodyExpanded{
    margin-left: var(--width);
}

#mainContainer{
    color: white;
    margin: 10px;
}

/*Menú lateral*/

#sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

#sidemenu a{
    color: white;
    text-decoration: none;
}

/*Login*/
.logueoContainer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logueoContainer img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.logueo {
    background-color: #fff;
    height: 400px;
    width: 500px;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.correoLogueo, .passLogueo {
    display: block;
    margin-bottom: 5px;
}

.logueo input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    width: 85%;
}

.logueo button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/*Header*/
#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
    display: flex;
    align-items: center;
}

#sidemenu #header #titulo{
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title, #sidemenu #header #menuBtn{
    vertical-align: middle;
}

#sidemenu #header #menu-btn{
    display: inline-block;
}

#sidemenu #header #menuBtn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menuBtn:hover{
    background-color: var(--hovercolor);
}

#sidemenu #header #menuBtn .btnHamburguesa{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

/*Perfil*/

#sidemenu #perfil{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

#sidemenu #perfil #foto{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#sidemenu #perfil #foto img{
    border-radius: 50px;
    width: 50px;
}

#sidemenu #perfil #foto, #sidemenu #perfil #nombre{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}

/*Item*/
#sidemenu #menuItems{
    overflow: hidden;
}

#sidemenu #menuItems .item{
    width: var(--width);
}

#sidemenu #menuItems .item .icon{
    display: inline-block;
    color: #fff;
}

#sidemenu #menuItems .item .icon, #sidemenu #menuItems .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menuItems .item a{
    display: block;
}

/*
#sidemenu #menuItems .item a:hover{
    background-color: var(--hovercolor);
}
*/

#sidemenu #menuItems .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menuItems .item .icon img{
    width: 100%;
}

#sidemenu #menuItems .item .title{
    padding: var(--padding) 0;
}

#sidemenu #menuItems .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

.menuExpanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menuExpanded #header #titulo{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menuExpanded #header #titulo span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
}

.menuExpanded #perfil #foto{
    width: 200px;
}

.menuExpanded #perfil #nombre{
    width: 100%;
}

.menuCollapsed{
    width: var(--width-collapsed);
}

.menuCollapsed #header #titulo{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.menuCollapsed #perfil #nombre{
    display: none;
}

.menuCollapsed .item{
    width: 100px;
}

#sidemenu #menuItems .item:last-child .icon img {
    width: 24px;
}

/*Seccion del calendario*/

#calendarSection{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#calendar {
    width: 850px;
    height: 650px;
}

#leyendaCalendario{
    width: 10%;
}

#leyendaCalendario{
    font-size: 13px;
}

#leyendaCalendario .estudio {
    background-color: blue;
    color: white;
    padding: 3px 10px;
    width: 70px;
}

#leyendaCalendario .homeoffice {
    background-color: green;
    color: white;
    padding: 3px 10px;
    width: 70px;
}

#leyendaCalendario .ausencias {
    background-color: red;
    color: white;
    padding: 3px 10px;
    width: 70px;
}

#leyendaCalendario .vacaciones {
    background-color: pink;
    color: black;
    padding: 3px 10px;
    width: 70px;
}

.item.ampliarDias{
    padding-left: 8px; padding-bottom: 5px;
    margin-top: 10px;
    border-bottom: 2px solid #000;
}

/*Links laborales*/
.linksInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.links, .linksLaborales {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 10px;
}

.links a, .linksLaborales a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

#diasAutorizar{
    text-align: right;
}

#botonAprobacion{
    display: flex;
}

.fc-event-title.fc-sticky {
    font-size: 12px;
    font-weight: bold;
}

a.fc-event.fc-event-start.fc-event-end.fc-event-future.fc-daygrid-event.fc-daygrid-block-event.fc-h-event{
    height: 16px;
}

/*Guardar fecha*/
.guardarFecha{
    width: 400px;
}

.guardarFecha .form-group, .cambiarContrasena .form-group{
    margin-bottom: 15px;
}

.guardarFecha label, .cambiarContrasena label{
    font-weight: bold;
}

.guardarFecha input, .cambiarContrasena input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

.guardarFecha button, .cambiarContrasena button{
    background-color: #4caf50;
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.guardarFecha #tablasFechas {
    margin-top: 20px;
    text-align: center;
}

.guardarFecha table {
    width: 100%;
    margin-top: 15px;
    color: #000;
    background-color: #fff;
    border-collapse: collapse;
}

.guardarFecha th,.guardarFecha td {
    border: 1px solid #ddd;
    padding: 8px;
}

.guardarFecha th {
    background-color: #4caf50;
    color: #000;
}

/*Ajustes para cambiar contraseña*/
.cambiarContrasena {
    width: 600px;
    margin: 20px auto;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cambiarContrasena input{
    margin-bottom: 15px;
    width: 250px;
}

.divContrasena{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divContrasena label{
    width: 50%;
}

/*Editar empleado*/
.formEmpleado, .formRecurso{
    width: 300px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formEmpleado label, .formRecurso label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.formEmpleado select, .formEmpleado input, .formRecurso select, .formRecurso input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.eliminarEmpleado{
    background-color: #af514c !important;
}

.formEmpleado button, .formRecurso button{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.descargarNomina, .descargarNovedadesMensuales, .descargarNominaBajas, .descargarInventarioRecursos{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Recursos asignados */
.recursosAsignados table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.recursosAsignados th, .recursosAsignados td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.recursosAsignados th {
    background-color: #4caf50;
}

.recursosAsignados p {
    margin-top: 20px;
    font-style: italic;
    color: #888888;
}

.formRecurso{
    margin-top: 20px;
}

.formRecurso button{
    margin-top: 10px;
}