<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home Office</title>
</head>
<body>
    <div id="sidemenu" class="menuCollapsed">
        <!-- Header -->
        <div id="header">
            <div id="menuBtn">
                <div class="btnHamburguesa"></div>
                <div class="btnHamburguesa"></div>
                <div class="btnHamburguesa"></div>
            </div>
            <div id="titulo"><a href="/inicio"><span>Embrace SRL</span></a></div>
        </div>

        <!-- Perfil -->
        <div id="perfil">
            <div id="foto"><a href="{{ url_for('inicio') }}"><img src="{{ url_for('static', filename='images/WMMS.png') }}" alt=""></a></div>
            <div id="nombre"><span>{{ empleado }}</span></div>
        </div>

        <!-- Items -->
        <div id="menuItems">

            <div class="item ampliarDias">
                <a href="javascript:void(0);" class="solicitarDias">
                    <div class="icon"><span>&#9660;</span></div>
                    <div class="title"><span>Solicitar días</span></div>
                </a>
            </div>

            <div class="solicitarDiasItems" style="display: none;">
                <div class="item">
                    <div class="icon"><a href="{{ url_for('estudio') }}"><img src="{{ url_for('static', filename='images/estudio.png') }}" alt="" title="Solicitar día de estudio"></a></div>
                    <div class="title"><a href="{{ url_for('estudio') }}"><span>Días de estudio</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('homeoffice') }}"><img src="{{ url_for('static', filename='images/casa.png') }}" alt=""  title="Notificar día de homeoffice"></a></div>
                    <div class="title"><a href="{{ url_for('homeoffice') }}"><span>Home office</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('ausencias') }}"><img src="{{ url_for('static', filename='images/ausencia.png') }}" alt="" title="Notificar día de ausencia"></a></div>
                    <div class="title"><a href="{{ url_for('ausencias') }}"><span>Ausencias</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('vacaciones') }}"><img src="{{ url_for('static', filename='images/vacaciones.png') }}" alt="" title="Solicitar días de vacaciones"></a></div>
                    <div class="title"><a href="{{ url_for('vacaciones') }}"><span>Vacaciones</span></a></div>
                </div>
            </div>

            {% if empleado == "DI SALVO CLARA MICAELA" or empleado == "GALLARDO DANIELA" %}
            <div class="item">
                <div class="icon"><a href="{{ url_for('editar') }}"><img src="{{ url_for('static', filename='images/editar.png') }}" alt="Editar Información" title="Editar información"></a></div>
                <div class="title"><a href="{{ url_for('editar') }}"><span>Editar información</span></a></div>
            </div>
            {% endif %}
            {% if jerarquia or empleado == "BUSTOS LAUTARO" or empleado == "GALLARDO DANIELA" %}

            <div class="item">
                <div class="icon"><a href="{{ url_for('descargas') }}"><img src="{{ url_for('static', filename='images/descargar.png') }}" alt="Descargas" title="Descargas"></a></div>
                <div class="title"><a href="{{ url_for('descargas') }}"><span>Descargas</span></a></div>
            </div>
            {% endif %}

            {% if empleado == "DI SALVO CLARA MICAELA" or empleado == "BUSTOS LAUTARO" or empleado == "GALLARDO DANIELA" %}
            <div class="item">
                <div class="icon"><a href="{{ url_for('agregar') }}"><img src="{{ url_for('static', filename='images/agregar-usuario.png') }}" alt="Agregar empleado" title="Agregar empleado"></a></div>
                <div class="title"><a href="{{ url_for('agregar') }}"><span>Agregar empleado</span></a></div>
            </div>
            {% endif %}

            <div class="item">
                <div class="icon"><a href="{{ url_for('recursos') }}"><img src="{{ url_for('static', filename='images/ordenador-portatil.png') }}" alt="Recursos" title="Recursos"></a></div>
                <div class="title"><a href="{{ url_for('recursos') }}"><span>Recursos</span></a></div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('ajustes') }}"><img src="{{ url_for('static', filename='images/configuraciones.png') }}" alt="Ajustes" title="Ajustes"></a></div>
                <div class="title"><a href="{{ url_for('ajustes') }}"><span>Ajustes</span></a></div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='images/cerrar-sesion.png') }}" alt="Cerrar sesion" title="Cerrar sesión"></a></div>
                <div class="title"><a href="{{ url_for('logout') }}"><span>Cerrar sesión</span></a></div>
            </div>
        </div>
    </div>

    <div id="mainContainer" class="guardarFecha">
        <h2>Módulo de home office</h2>
        <form action="/guardar_home" method="POST">
            <div class="form-group">
                <label for="fechaHome">Elegir una fecha:</label>
                <input type="date" id="fechaHome" name="fechaHome" required>
            </div>
            <button type="submit">Guardar Fecha</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="flash-message flash-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <div id="diasHome">
            <div id="tablasFechas">
                <h3>Fechas notificadas</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if homeoffice_notificados %}
                            {% for dia in homeoffice_notificados %}
                            <tr>
                                <td>{{ dia }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No hay fechas notificadas</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            
                <h3>Fechas en Espera de notificación</h3>
                <table>
                    <thead>
                        <tr>
                            {% if homeoffice_en_espera %}
                            <th>Fecha</th>
                            <th>Acción</th>
                            {% else %}
                            <th>Fecha</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if homeoffice_en_espera %}
                            {% for dia in homeoffice_en_espera %}
                            <tr>
                                <td>{{ dia }}</td>
                                <td class="accionFechaEnEspera">
                                    <!--
                                    <form action="/modificacion_fecha_solicitada" method="POST" style="display: inline;">
                                        <input type="hidden" name="fecha" value="{{ dia }}">
                                        <button type="submit" class="editarBtn" style="border: none; background: none; cursor: pointer;">
                                            <img src="../static/images/editar.png" alt="Editar" width="20" height="20">
                                        </button>
                                    </form>
                                -->
                                    <form action="/eliminar_fecha_solicitada" method="POST" style="display: inline;">
                                        <input type="hidden" name="fecha" value="{{ dia }}">
                                        <button type="submit" class="eliminarBtn" style="border: none; background: none; cursor: pointer;">
                                            <img src="../static/images/eliminar.png" alt="Eliminar" width="20" height="20">
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No hay fechas en espera de notificación</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                <h3>Fechas rechazadas</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if home_rechazados %}
                            {% for dia in home_rechazados %}
                            <tr>
                                <td>{{ dia }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No hay fechas rechazadas</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var fechaHomeInput = document.getElementById('fechaHome');
    
            var fechaActual = new Date();
    
            var fechaLimiteAtras = new Date();
            fechaLimiteAtras.setMonth(fechaLimiteAtras.getMonth() - 1);
    
            var fechaLimiteAdelante = new Date();
            fechaLimiteAdelante.setMonth(fechaLimiteAdelante.getMonth() + 1);
    
            fechaHomeInput.setAttribute('min', fechaLimiteAtras.toISOString().split('T')[0]);
            fechaHomeInput.setAttribute('max', fechaLimiteAdelante.toISOString().split('T')[0]);
        });
    </script>
</body>
</html>