<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>

    <div id="mainContainer" class="logueoContainer">
        <form action="/login" method="POST" class="logueo">
            <img src="../static/images/WMMS.png" alt="">
            <div class="form-group">
                <label for="email" class="correoLogueo">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>
            </div>  
            <div class="form-group">
                <label for="password" class="passLogueo">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Ingresar</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="flash-message flash-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </form>



    </div>
</body>
</html>