<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Inicio</title>
</head>
<body>
    <div id="sidemenu" class="menuCollapsed">
        <!-- Header -->
        <div id="header">
            <div id="menuBtn">
                <div class="btnHamburguesa"></div>
                <div class="btnHamburguesa"></div>
                <div class="btnHamburguesa"></div>
            </div>
            <div id="titulo"><a href="/inicio"><span>Embrace SRL</span></a></div>
        </div>

        <!-- Perfil -->
        <div id="perfil">
            <div id="foto"><a href="{{ url_for('inicio') }}"><img src="{{ url_for('static', filename='images/WMMS.png') }}" alt=""></a></div>
            <div id="nombre"><span>{{ empleado }}</span></div>
        </div>

        <!-- Items -->
        <div id="menuItems">

            <div class="item">
                <a href="javascript:void(0);" class="solicitarDias">
                    <div class="icon"><span>&#9660;</span></div>
                    <div class="title"><span>Solicitar días</span></div>
                </a>
            </div>

            <div class="solicitarDiasItems" style="display: none;">
                <div class="item">
                    <div class="icon"><a href="{{ url_for('estudio') }}"><img src="{{ url_for('static', filename='images/estudio.png') }}" alt=""></a></div>
                    <div class="title"><a href="{{ url_for('estudio') }}"><span>Días de estudio</span></a></div>
    
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('homeoffice') }}"><img src="{{ url_for('static', filename='images/casa.png') }}" alt=""></a></div>
                    <div class="title"><a href="{{ url_for('homeoffice') }}"><span>Home office</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('ausencias') }}"><img src="{{ url_for('static', filename='images/ausencia.png') }}" alt=""></a></div>
                    <div class="title"><a href="{{ url_for('ausencias') }}"><span>Ausencias</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('vacaciones') }}"><img src="{{ url_for('static', filename='images/vacaciones.png') }}" alt=""></a></div>
                    <div class="title"><a href="{{ url_for('vacaciones') }}"><span>Vacaciones</span></a></div>
                </div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('ajustes') }}"><img src="{{ url_for('static', filename='images/configuraciones.png') }}" alt="Ajustes"></a></div>
                <div class="title"><a href="{{ url_for('ajustes') }}"><span>Ajustes</span></a></div>
            </div>

            {% if jerarquia %}
            <div class="item">
                <div class="icon"><a href="{{ url_for('editar') }}"><img src="{{ url_for('static', filename='images/editar.png') }}" alt="Editar Información"></a></div>
                <div class="title"><a href="{{ url_for('editar') }}"><span>Editar información</span></a></div>
            </div>

            <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                  var calendarEl = document.getElementById('calendar');
                  var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    events: '/obtener_todos_los_eventos',
                  });

                  calendar.render();
                });
            </script>
            {% endif %}

            <div class="item">
                <div class="icon"><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='images/cerrar-sesion.png') }}" alt="Cerrar sesion"></a></div>
                <div class="title"><a href="{{ url_for('logout') }}"><span>Cerrar sesión</span></a></div>
            </div>
        </div>
    </div>
    <!--
    <div id="mainContainer">
        {% if estudio %}
        <h2>Días de Estudio:</h2>
        <div id="dias">
            <table>
                <thead>
                    <tr>
                        <th>Empleado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultado in estudio %}
                    <tr>
                        <td>{{ resultado[0] }}</td> {# Empleado #}
                        <td>{{ resultado[1] }}</td> {# Fecha #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}        
    </div>
    -->
    <section id="calendarSection">
        <div id="calendar"></div>
    </section>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        
</body>
</html>