<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Inicio</title>
</head>
<body>
    <div id="sidemenu" class="menuCollapsed">
        <!-- Header -->
        <div id="header">
            <div id="menuBtn">
                <div class="btnHamburguesa"></div>
                <div class="btnHamburguesa"></div>
                <div class="btnHamburguesa"></div>
            </div>
            <div id="titulo"><a href="/inicio"><span>Embrace SRL</span></a></div>
        </div>

        <!-- Perfil -->
        <div id="perfil">
            <div id="foto"><a href="{{ url_for('inicio') }}"><img src="{{ url_for('static', filename='images/WMMS.png') }}" alt=""></a></div>
            <div id="nombre"><span>{{ empleado }}</span></div>
        </div>

        <!-- Items -->
        <div id="menuItems">

            <div class="item ampliarDias">
                <a href="javascript:void(0);" class="solicitarDias">
                    <div class="icon"><span>&#9660;</span></div>
                    <div class="title"><span>Solicitar días</span></div>
                </a>
            </div>

            <div class="solicitarDiasItems" style="display: none;">
                <div class="item">
                    <div class="icon"><a href="{{ url_for('estudio') }}"><img src="{{ url_for('static', filename='images/estudio.png') }}" alt="" title="Solicitar día de estudio"></a></div>
                    <div class="title"><a href="{{ url_for('estudio') }}"><span>Días de estudio</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('homeoffice') }}"><img src="{{ url_for('static', filename='images/casa.png') }}" alt=""  title="Notificar día de homeoffice"></a></div>
                    <div class="title"><a href="{{ url_for('homeoffice') }}"><span>Home office</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('ausencias') }}"><img src="{{ url_for('static', filename='images/ausencia.png') }}" alt="" title="Notificar día de ausencia"></a></div>
                    <div class="title"><a href="{{ url_for('ausencias') }}"><span>Ausencias</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('vacaciones') }}"><img src="{{ url_for('static', filename='images/vacaciones.png') }}" alt="" title="Solicitar días de vacaciones"></a></div>
                    <div class="title"><a href="{{ url_for('vacaciones') }}"><span>Vacaciones</span></a></div>
                </div>
            </div>

            {% if jerarquia or empleado == "BUSTOS LAUTARO" or empleado == "DANIELA GALLARDO" %}
            <div class="item">
                <div class="icon"><a href="{{ url_for('editar') }}"><img src="{{ url_for('static', filename='images/editar.png') }}" alt="Editar Información" title="Editar información"></a></div>
                <div class="title"><a href="{{ url_for('editar') }}"><span>Editar información</span></a></div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('descargas') }}"><img src="{{ url_for('static', filename='images/descargar.png') }}" alt="Descargas" title="Descargas"></a></div>
                <div class="title"><a href="{{ url_for('descargas') }}"><span>Descargas</span></a></div>
            </div>
            {% endif %}

            {% if empleado == "DI SALVO CLARA MICAELA" or empleado == "BUSTOS LAUTARO" or empleado == "DANIELA GALLARDO" %}
            <div class="item">
                <div class="icon"><a href="{{ url_for('agregar') }}"><img src="{{ url_for('static', filename='images/agregar-usuario.png') }}" alt="Agregar empleado" title="Agregar empleado"></a></div>
                <div class="title"><a href="{{ url_for('agregar') }}"><span>Agregar empleado</span></a></div>
            </div>
            {% endif %}

            <div class="item">
                <div class="icon"><a href="{{ url_for('recursos') }}"><img src="{{ url_for('static', filename='images/ordenador-portatil.png') }}" alt="Recursos" title="Recursos"></a></div>
                <div class="title"><a href="{{ url_for('recursos') }}"><span>Recursos</span></a></div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('ajustes') }}"><img src="{{ url_for('static', filename='images/configuraciones.png') }}" alt="Ajustes" title="Ajustes"></a></div>
                <div class="title"><a href="{{ url_for('ajustes') }}"><span>Ajustes</span></a></div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='images/cerrar-sesion.png') }}" alt="Cerrar sesion" title="Cerrar sesión"></a></div>
                <div class="title"><a href="{{ url_for('logout') }}"><span>Cerrar sesión</span></a></div>
            </div>
        </div>
    </div>

    <div id="mainContainer" class="linksInicio">
        <div class="linksLaborales">
            <a href="">CRM</a>
            <a href="">Infobip</a>
            <a href="">Outlook</a>
        </div>
        <div class="links">
            <a href="{{ url_for('estudio') }}">Solicitar día de estudio</a>
            <a href="{{ url_for('ausencias') }}">Notificar día de ausencia</a>
            <a href="{{ url_for('homeoffice') }}">Solicitar día de home office</a>
            <a href="{{ url_for('vacaciones') }}">Solicitar días de vacaciones</a>
        </div>
        
        <div class="contenedorClaves">
            <h3>Tabla de claves</h3>
            <table class="tablaClaves">
                <thead>
                    <tr>
                        <th>Sistema</th>
                        <th>Mail</th>
                        <th>Clave</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Outlook</td>
                        <td>mrstatus@worldmedicalcare.com</td>
                        <td>MRnueva2023!!</td>
                    </tr>
                    <tr>
                        <td>Outlook</td>
                        <td>coordinations@worldmedicalcare.com</td>
                        <td>EMBRACE2024!!**</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if dias_autorizar %}
    <table>
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Fecha de Modificación</th>
                <th>Concepto</th>
                <th>Aprobar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for dia in dias_autorizar %}
            <tr>
                <td>{{ dia.empleado }}</td>
                <td>{{ dia.fecha }}</td>
                <td>{{ dia.fecha_modificacion }}</td>
                <td>{{ dia.concepto }}</td>
                <td>                        
                    <form action="/aprobar_solicitud" method="POST">
                    <input type="hidden" name="empleado" value="{{ dia.empleado }}">
                    <input type="hidden" name="fecha" value="{{ dia.fecha }}">
                    <input type="hidden" name="concepto" value="{{ dia.concepto }}">
                    <input type="hidden" name="jerarquia" value="{{ jerarquia }}">
                    <input type="hidden" name="gerente" value="{{ empleado }}">
                    <button type="submit">Aprobar</button>
                    </form>
                </td>
                <td>
                    <div id="botonAprobacion">
                        <form action="/eliminar_solicitud" method="POST">
                            <input type="hidden" name="empleado" value="{{ dia.empleado }}">
                            <input type="hidden" name="fecha" value="{{ dia.fecha }}">
                            <input type="hidden" name="concepto" value="{{ dia.concepto }}">
                            <input type="hidden" name="jerarquia" value="{{ jerarquia }}">
                            <input type="hidden" name="gerente" value="{{ empleado }}">
                            <label for="causa">Justificación del rechazo:</label>
                            <textarea id="causa" name="causa" required></textarea>
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
    {% endif %}
    
    {% if vacaciones_autorizar %}
    <table>
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Fecha de Modificación</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for vacaciones in vacaciones_autorizar %}
            <tr>
                <td>{{ vacaciones.empleado }}</td>
                <td>{{ vacaciones.fecha_inicio }}</td>
                <td>{{ vacaciones.fecha_fin }}</td>
                <td>{{ vacaciones.fecha_modificacion }}</td>
                <td>
                    <div id="botonAprobacion">
                        <form action="/aprobar_solicitud" method="POST">
                            <input type="hidden" name="empleado" value="{{ vacaciones.empleado }}">
                            <input type="hidden" name="fecha" value="{{ vacaciones.fecha_inicio }}">
                            <input type="hidden" name="concepto" value="vacaciones">
                            <input type="hidden" name="jerarquia" value="{{ jerarquia }}">
                            <input type="hidden" name="gerente" value="{{ empleado }}">
                            <button type="submit">Aprobar</button>
                        </form>
                        <form action="/eliminar_solicitud" method="POST">
                            <input type="hidden" name="empleado" value="{{ vacaciones.empleado }}">
                            <input type="hidden" name="fecha" value="{{ vacaciones.fecha_inicio }}">
                            <input type="hidden" name="concepto" value="vacaciones">
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
    {% endif %}

    
    {% if jerarquia or empleado == "DANIELA GALLARDO" %}
    <section id="calendarSection">
        <div id="leyendaCalendario">
            <p class="estudio">Estudio</p>
            <p class="homeoffice">Homeoffice</p>
            <p class="ausencias">Ausencias</p>
            <p class="vacaciones">Vacaciones</p>
        </div>
        <div id="calendar"></div>
    </section>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');
            let area = "{{ area }}"
            let url;
            if (area == "Account Manager") {
                url = '/obtener_todos_los_eventosAccount';
            } else if (area == "Analytics") {
                url = '/obtener_todos_los_eventosAnalytics';
            //} else if (area == "Billing") {
                //url = '/obtener_todos_los_eventosBilling';
            } else if (area == "Borderaux") {
                url = '/obtener_todos_los_eventosBorderaux';
            //} else if (area == "Comercial") {
                //url = '/obtener_todos_los_eventosComercial';
            } else if (area == "Data Claims") {
                url = '/obtener_todos_los_eventosClaims';
            } else if (area == "Data Integrity") {
                url = '/obtener_todos_los_eventosIntegrity';
            //} else if (area == "RRHH") {
                //url = '/obtener_todos_los_eventosMaestranza';
            } else if (area == "Operaciones") {
                url = '/obtener_todos_los_eventosOperaciones';
            } else if (area == "Pagos") {
                url = '/obtener_todos_los_eventosPagos';
            //} else if (area == "Quality") {
                //url = '/obtener_todos_los_eventosQuality';
            } else if (area == "Reintegros") {
                url = '/obtener_todos_los_eventosReintegros';
            //} else if (area == "RRHH") {
                //url = '/obtener_todos_los_eventosRRHH';
            //} else if (area == "Sistemas") {
                //url = '/obtener_todos_los_eventosSistemas';
            } else {
                url = '/obtener_todos_los_eventos';
            }
    
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: url,
            });
    
            calendar.render();
        });
    </script>
    {% endif %}
    

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        
</body>
</html>