<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Días de estudio</title>
</head>
<body>
    <div id="sidemenu" class="menuCollapsed">
        <!-- Header -->
        <div id="header">
            <div id="menuBtn">
                <div class="btnHamburguesa"></div>
                <div class="btnHamburguesa"></div>
                <div class="btnHamburguesa"></div>
            </div>
            <div id="titulo"><a href="/inicio"><span>Embrace SRL</span></a></div>
        </div>

        <!-- Perfil -->
        <div id="perfil">
            <div id="foto"><a href="{{ url_for('inicio') }}"><img src="{{ url_for('static', filename='images/WMMS.png') }}" alt=""></a></div>
            <div id="nombre"><span>{{ empleado }}</span></div>
        </div>

        <!-- Items -->
        <div id="menuItems">

            <div class="item ampliarDias">
                <a href="javascript:void(0);" class="solicitarDias">
                    <div class="icon"><span>&#9660;</span></div>
                    <div class="title"><span>Solicitar días</span></div>
                </a>
            </div>

            <div class="solicitarDiasItems" style="display: none;">
                <div class="item">
                    <div class="icon"><a href="{{ url_for('estudio') }}"><img src="{{ url_for('static', filename='images/estudio.png') }}" alt="" title="Solicitar día de estudio"></a></div>
                    <div class="title"><a href="{{ url_for('estudio') }}"><span>Días de estudio</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('homeoffice') }}"><img src="{{ url_for('static', filename='images/casa.png') }}" alt=""  title="Notificar día de homeoffice"></a></div>
                    <div class="title"><a href="{{ url_for('homeoffice') }}"><span>Home office</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('ausencias') }}"><img src="{{ url_for('static', filename='images/ausencia.png') }}" alt="" title="Notificar día de ausencia"></a></div>
                    <div class="title"><a href="{{ url_for('ausencias') }}"><span>Ausencias</span></a></div>
                </div>
    
                <div class="item">
                    <div class="icon"><a href="{{ url_for('vacaciones') }}"><img src="{{ url_for('static', filename='images/vacaciones.png') }}" alt="" title="Solicitar días de vacaciones"></a></div>
                    <div class="title"><a href="{{ url_for('vacaciones') }}"><span>Vacaciones</span></a></div>
                </div>
            </div>

            {% if jerarquia or empleado == "BUSTOS LAUTARO" %}
            <div class="item">
                <div class="icon"><a href="{{ url_for('editar') }}"><img src="{{ url_for('static', filename='images/editar.png') }}" alt="Editar Información" title="Editar información"></a></div>
                <div class="title"><a href="{{ url_for('editar') }}"><span>Editar información</span></a></div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('descargas') }}"><img src="{{ url_for('static', filename='images/descargar.png') }}" alt="Descargas" title="Descargas"></a></div>
                <div class="title"><a href="{{ url_for('descargas') }}"><span>Descargas</span></a></div>
            </div>
            {% endif %}

            {% if empleado == "DI SALVO CLARA MICAELA" or empleado == "BUSTOS LAUTARO" or empleado == "DANIELA GALLARDO" %}
            <div class="item">
                <div class="icon"><a href="{{ url_for('agregar') }}"><img src="{{ url_for('static', filename='images/agregar-usuario.png') }}" alt="Agregar empleado" title="Agregar empleado"></a></div>
                <div class="title"><a href="{{ url_for('agregar') }}"><span>Agregar empleado</span></a></div>
            </div>
            {% endif %}

            <div class="item">
                <div class="icon"><a href="{{ url_for('recursos') }}"><img src="{{ url_for('static', filename='images/ordenador-portatil.png') }}" alt="Recursos" title="Recursos"></a></div>
                <div class="title"><a href="{{ url_for('recursos') }}"><span>Recursos</span></a></div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('ajustes') }}"><img src="{{ url_for('static', filename='images/configuraciones.png') }}" alt="Ajustes" title="Ajustes"></a></div>
                <div class="title"><a href="{{ url_for('ajustes') }}"><span>Ajustes</span></a></div>
            </div>

            <div class="item">
                <div class="icon"><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='images/cerrar-sesion.png') }}" alt="Cerrar sesion" title="Cerrar sesión"></a></div>
                <div class="title"><a href="{{ url_for('logout') }}"><span>Cerrar sesión</span></a></div>
            </div>
        </div>
    </div>

    <div id="mainContainer" class="recursosAsignados">
        <h2>Recursos Asignados</h2>
    
        {% if recursos %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Equipo</th>
                        <th>Serie</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in recursos %}
                        <tr>
                            <td>{{ empleado['ID'] }}</td>
                            <td>{{ empleado['Equipo'] }}</td>
                            <td>{{ empleado['Serie'] }}</td>
                            <td>{{ empleado['Marca'] }}</td>
                            <td>{{ empleado['Modelo'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tiene recursos asignados.</p>
        {% endif %}

        {% if rol[0] == 'Administracion' or rol[0] == 'Recursos' %}
        <form action="/elegir_recurso" method="POST" class="formRecurso">
            <label for="selectId">Selecciona por ID:</label>
            <select id="selectId" name="selectId">
                {% for id in listado_id %}
                    <option value="{{ id }}">{{ id }}</option>
                {% endfor %}
            </select>
            <button type="submit">Editar recurso</button>
        </form>
        {% endif %}

        {% if datos %}
        <form action="/guardar_informacion_recurso" method="POST" class="formRecurso">
            <div class="form-group">
                <label for="id">ID del Recurso:</label>
                <input type="text" name="id" id="id" value="{{ datos.id }}">
            </div>
            <div class="form-group">
                <label for="equipo">Equipo:</label>
                <input type="text" name="equipo" id="equipo" value="{{ datos.equipo }}">
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <input type="text" name="estado" id="estado" value="{{ datos.estado }}">
            </div>
            <div class="form-group">
                <label for="ubicacion">Ubicación:</label>
                <input type="text" name="ubicacion" id="ubicacion" value="{{ datos.ubicacion }}">
            </div>
            <div class="form-group">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="usuario" value="{{ datos.usuario }}">
            </div>
            <div class="form-group">
                <label for="anydesk">AnyDesk:</label>
                <input type="text" name="anydesk" id="anydesk" value="{{ datos.anydesk }}">
            </div>
            <div class="form-group">
                <label for="serie">Serie:</label>
                <input type="text" name="serie" id="serie" value="{{ datos.serie }}">
            </div>
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" name="marca" id="marca" value="{{ datos.marca }}">
            </div>
            <div class="form-group">
                <label for="modelo">Modelo:</label>
                <input type="text" name="modelo" id="modelo" value="{{ datos.modelo }}">
            </div>
            <div class="form-group">
                <label for="ficha">Ficha:</label>
                <input type="text" name="ficha" id="ficha" value="{{ datos.ficha }}">
            </div>
        
            <button type="submit">Guardar Cambios</button>
        </form>
        
    {% endif %}
    
    
    </div>
    

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</body>
</html>